.acf-block-preview {
  @import 'app';
  @import 'styles/other/instagram-editor';

  font-size: 16px;
  font-family: $font-book;
  line-height: 1.2;
  overflow: hidden;
}

.block-editor-block-mover {
  display: none !important;
}

.edit-post-visual-editor .editor-post-title__block {
  margin-left: 0;
}
