// Schedule
.bw-widget {
  background-color: transparent !important;

  .bw-widget__header,
  .bw-widget__date {
    background-color: $color-light;
  }

  .bw-widget__date {
    border-width: 0;
  }

  .bw-calendar-container {
    background-color: $color-white;
  }

  .bw-session {
    border-bottom-width: 0;

    &:nth-child(even) {
      background-color: $color-white;
    }

    &:nth-child(odd) {
      background-color: transparent;
    }
  }


  .bw-session__canceled,
  .bw-fullcal-button,
  .bw-widget__signup-now {
    padding: 10px 20px !important;
    border: 2px solid $color-primary !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    font-family: $font-bold !important;
    font-size: 12px;
    color: $color-dark !important;
    text-transform: uppercase !important;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-primary !important;
    }

    &:active {
      color: $color-white !important;
    }
  }

  .bw-session__canceled {
    min-width: unset;
    padding: 10px 17px !important;
    color: $color-text !important;
  }

  .bw-mb-powered-by-logo {
    display: none;
  }
}

// Class List
.healcode {
  
  .class_list.list_view,
  .class_list.mindbody_classic {

    & > div,
    & > ol {
      display: flex;
      flex-wrap: wrap;

      &.hc_footer {
        display: none;
      }
    }

    .class_show {
      @include maxWidth($breakpoint-lg) {
        width: 50%;
      }

      @include maxWidth($breakpoint-sm) {
        width: 100%;
        margin-right: 0;
        padding-top: 200px;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }

      box-sizing: border-box;
      position: relative;
      border-top: 0;
      padding: 140px 10px 10px;
      padding-top: 160px;
      width: 25%;

      .class_description {
        p,
        & > div > div {
          @include fontSize(16px);
  
          color: $color-text;
          line-height: 1.8;
          margin-bottom: 10px;
        }

        a {
          @include fontSize(14px);

          color: $color-text-dark;
          border-bottom: 2px solid $color-primary;
        }
      }

      .class_offered_link {
        display: none;
      }

      img {
        @include maxWidth($breakpoint-sm) {
          left: 50%;
          transform: translateX(-50%);
        }

        position: absolute;
        top: 0;
        left: 10px;
        width: 200px !important;
        height: 150px !important;
        object-fit: cover;
      }

      h1.class_name {
        @include fontSize(24px);

        text-transform: uppercase;
      }
    }
  }
}
